{% extends 'base.html' %}
ab
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" >spotlight
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                {% comment %} <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
                </li> {% endcomment %}

                <li class="nav-item">
                <a class="nav-link" href="/profile" >
                {{user.username}}
                </a>
                </li>
                <li class="nav-item">
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                <button class="btn btn-warning" type="submit">
                Logout
                </li>
            </ul>
        </div>
    </div>
    </nav>
        {% comment %} <input type="submit" value="Logout" class="btn bth-info"> {% endcomment %}
                </button>

        <main>

                    </form>
        

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
               <img src= "static/img/spotlight_logo.png">

        <p class="lead text-muted">We construct dreams.
        SpotLight is where early adopters and innovation seekers find lively, imaginative projects before it hits the mainstream.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Project Review</a>
          <a href="#" class="btn btn-secondary my-2">Learn more</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
    <div class="p-3">
        <h2>Project Lists</h2>
         <a href="/creator/create" class="btn btn-primary ml-3">Create Project</a>
         </div>
             <div class="p-3">
         <a href="/investor/investor" class="btn btn-primary ml-3">Fund Project</a>
         </div>


      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/img/skull.jpg">
            <div class="card-body">
              <p class="card-text">Knock ‘em dead with these four stylish silicone skulls. Nomskulls are ready to fill with your favorite grey batter and bake into perfect cupcake craniums. One bite and you’ll be head over heels, because there’s no doubt about it — this skull bone’s connected to the YUM bone!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <a href="/investor/investor"><button type="button" class="btn btn-sm btn-outline-secondary">Fund</button></a>
                </div>
                <small class="text-muted">10 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/img/comb.jpg">

            <div class="card-body">
              <p class="card-text">Somehow, this one reminds me of t a Japanese animation “bleach”.

                Messy hair is a thing of the past! We’ve combed through the Cretaceous to come up with just the thing to keep your hair from wigging out. Bone Head takes its cue from the fossil record to provide a comb and brush combo that works with prehistoric precision. The flexible teeth are strong enough to chomp through your tangles yet gentle enough to keep you smiling through the process</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <a href="/investor/investor"><button type="button" class="btn btn-sm btn-outline-secondary">Fund</button></a>
                </div>
                <small class="text-muted">15 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/img/ink.jpg">

            <div class="card-body">
              <p class="card-text">This 300-page sticky notepad is perfect for poison pen notes, letters of resignation, hit lists, and office to-do’s. Murder, Ink comes complete with blood spattered pen, so it’s sure to make a statement on your desk right beside that suspiciously sharp letter opener.

              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <a href="/investor/investor"><button type="button" class="btn btn-sm btn-outline-secondary">Fund</button></a>
                </div>
                <small class="text-muted">25 min</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="static/img/Buld.jpg">

            <div class="card-body">
              <p class="card-text">It’s wonderful to see how many new gadgets and bizarre products have been released recently and we see more and more creativity in product design popping up daily. In this post, we have collected some bizarre and unusual products; all of them have weird and unordinary look. What do you think?</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <a href="/investor/investor"><button type="button" class="btn btn-sm btn-outline-secondary">Fund</button></a>
                </div>
                <small class="text-muted">44 min</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/img/Analog_Phone charger.jpg">

            <div class="card-body">
              <p class="card-text">The iRetrofone Base is a fully-functional, stationary iPhone dock with working handset and complete compatibility with USB cable. Each individual iRetrofone is hand-sculpted and hand-cast in urethane resin. The iRetrofone base is made of heavy-duty, half-inch thick urethane resin creating a stable, functional work station that routes voice communications through the included handset.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <a href="/investor/investor"><button type="button" class="btn btn-sm btn-outline-secondary">Fund</button></a>
                </div>
                <small class="text-muted">1 day</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/img/cookey.jpg">

            <div class="card-body">
              <p class="card-text">These stealthy warriors are set to sneak into your kitchen and stage a cookie coup! Cut, bake, decorate…and then watch them disappear! Ninjabread Men are molded from rugged, food-safe ABS plastic and packaged in a colorful giftbox.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <a href="/investor/investor"><button type="button" class="btn btn-sm btn-outline-secondary">Fund</button></a>
                </div>
                <small class="text-muted">3 days</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="static/img/Sleeping pillow.jpg">

            <div class="card-body">
              <p class="card-text">DREAM IN STYLE: The revolutionary media sensation OSTRICHPILLOW ORIGINAL is the ultimate immersive pillow! Use it for a power nap at your desk, lounging at home, or wherever you may be, without moving an inch. Just slip it on and you're off to dreamland</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <a href="/investor/investor"><button type="button" class="btn btn-sm btn-outline-secondary">Fund</button></a>
                </div>
                <small class="text-muted">5 days</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/img/toaster.jpg">

            <div class="card-body">
              <p class="card-text">In the beginning…there was bread. Ho hum. Make that boring bread an inspiration by embossing it before you toast! Our easy-to-use Holy Toast stamper always makes a good impression.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <a href="/investor/investor"><button type="button" class="btn btn-sm btn-outline-secondary">Fund</button></a>
                </div>
                <small class="text-muted">13 days</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/img/typescreen-ipad.jpg">

            <div class="card-body">
              <p class="card-text">We have featured quite a few different docks and accessories for the iPad here at Geeky Gadgets, the latest one is called the Typescreen, and it is basically a typewriter style keyboard dock for the iPad and iPad 2.

                Unlike previous versions we have seen, this one actually physically types on the iPad’s keyboard when you press a key on the typewriter, which is certainly a unique way to type emails and notes on your iPad.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <a href="/investor/investor"><button type="button" class="btn btn-sm btn-outline-secondary">Fund</button></a>
                </div>
                <small class="text-muted">17 days</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>


<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company name
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->




{% endblock %}
