{% extends "base.html" %}
{% load static %}
{% block content %}
<p>this is view window</p>
  <section class="container">
    <div class="col">
        <div class="card shadow-sm">
          <div class="overflow-hidden container center" style="height: 250px; display: flex; justify-content: center;">
            {% if pr.image %}
              <img src="{{pr.image.url}}" >
            {% endif %}
            
            {% if not pr.image %}
              <img src="static/img/no image.png">
            {% endif %}
          </div>

          <div class="card-body">
          <h4>{{pr.title}}</h4>
            <p class="card-text">{{pr.description}}</p>
        
          </div>
        </div>
  </section>
{% endblock %}