{% extends 'base.html' %} {% block content %}

<!-- old version ui -->
<!--
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 mb-4">
        <div
          class="
            row row-cols-12 row-cols-sm-12 row-cols-md-12
            g-3
            mb-4
            text-left
          "
        >
          <h2>{{details.title}}</h2>
        </div>

        <div class="row row-cols-12 row-cols-sm-12 row-cols-md-12 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <div
                class="overflow-hidden container center p-0 m-0"
                style="height: 250px; display: flex; justify-content: center"
              >
                {% if details.image %}
                <img
                  src="{{details.image.url}}"
                  class="img-fluid w-100"
                  style="max-width: 100%"
                  onerror="this.onerror=null;this.src='static/img/no image.png';"
                />
                {% endif %} {% if not details.image %}
                <img src="static/img/no image.png" class="img-fluid w-100" />
                {% endif %}
              </div>

              <div class="card-body">
                {% comment %}
                <h4>{{pr.title}}</h4>
                {% endcomment %}
                <small class="text-muted">{{details.TargetLaunchDate}}</small>
                <p class="card-text">Created By {{details.Author}}</p>
                <p class="card-text">{{details.description}}</p>

                <div class="mb-3">
                  <div class="progress">
                    <div
                      class="progress-bar bg-success"
                      role="progressbar"
                      style="width: {{details.pledgeAmountInPercentage}}%"
                      aria-valuenow="{{details.pledgeAmountInPercentage}}"
                      aria-valuemin="0"
                      aria-valuemax="{{details.FundingGoalInPercentage}}"
                    ></div>
                  </div>

                  <h3 class="text-success font-lg font-bolg mb-2">
                    US$ {{details.pledgeAmount}}
                  </h3>
                  <div class="text-success">
                    pledged of US$ {{details.FundingGoal}} goal
                  </div>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a
                      href="/investor/checkout/{{details.id}}"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      Fund
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-4">
        <div
          class="
            row row-cols-12 row-cols-sm-12 row-cols-md-12
            g-3
            mb-4
            text-left
          "
        >
          <h2>Other Projects</h2>
        </div>

        {% for pr in projects|slice:":6" %}
        <div class="row row-cols-12 row-cols-sm-12 row-cols-md-12 g-3 mb-4">
          <div class="card w-100">
            {% if pr.image %}
            <img
              src="{{pr.image.url}}"
              class="card-img-top"
              alt="{{pr.title}}"
              onerror="this.onerror=null;this.src='static/img/no image.png';"
            />
            {% endif %} {% if not pr.image %}
            <img
              src="../static/img/no image.png"
              class="card-img-top"
              alt="{{pr.title}}"
            />
            {% endif %}

            <div class="card-body">
              <h5 class="card-title">{{pr.title}}</h5>
              <small>{{pr.TargetLaunchDate}}</small>
              <p class="card-text">{{pr.description}}</p>
              <a href="{{pr.id}}" class="btn btn-primary btn-sm">View</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>-->


<!-- new updated -->
 <div class="blog-single gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-8 mb-4">
                    <article class="article">
                      {% if details.image %}
                <img
                  src="{{details.image.url}}"
                  class="article-img"
                  onerror="this.onerror=null;this.src='static/img/no image.png';"
                />
                {% endif %} {% if not details.image %}
                <img src="static/img/no image.png" class="article-img" />
                {% endif %}
                <br><br>
                        <small class="text-muted">{{details.TargetLaunchDate}}</small>
                        <div class="article-title">
                            
                            <h2>{{details.title}}</h2>
                            <div class="media">
                                <div class="avatar" >
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" title="" alt="" style="max-width: 100%;">
                                </div>
                                <div class="media-body">
                                  
                                    <label>Created By {{details.Author}}</label>
                                    <!-- <span>{{details.TargetLaunchDate}}</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="article-content">
                            <p class="card-text">{{details.description}}</p>
                        </div>
                        <br>
                        <div class="mb-3">
                  <div class="progress">
                    <div
                      class="progress-bar bg-success"
                      role="progressbar"
                      style="width: {{details.pledgeAmountInPercentage}}%"
                      aria-valuenow="{{details.pledgeAmountInPercentage}}"
                      aria-valuemin="0"
                      aria-valuemax="{{details.FundingGoalInPercentage}}"
                    ></div>
                  </div>

                  <h3 class="text-success font-lg font-bolg mb-2">
                    US$ {{details.pledgeAmount}}
                  </h3>
                  <div class="text-success">
                    pledged of US$ {{details.FundingGoal}} goal
                  </div>
                  <br>
                  <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a
                      href="/investor/checkout/{{details.id}}"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      Fund
                    </a>
                  </div>
                </div>

                </div>
                    </article>
                    
                </div>
                

            <!-- for other project -->
            <div class="col-sm-12 col-md-12 col-lg-4">
        <div
          class="
            row row-cols-12 row-cols-sm-12 row-cols-md-12
            g-3
            mb-4
            text-left
          "
        >
          <h2>Other Projects</h2>
        </div>

        {% for pr in projects|slice:":3" %}
        <div class="row row-cols-12 row-cols-sm-12 row-cols-md-12 g-3 mb-4">
          <div class="card w-100">
            {% if pr.image %}
            <img
              src="{{pr.image.url}}"
              class="card-img-top"
              alt="{{pr.title}}"
              onerror="this.onerror=null;this.src='static/img/no image.png';"
            />
            {% endif %} {% if not pr.image %}
            <img
              src="../static/img/no image.png"
              class="card-img-top"
              alt="{{pr.title}}"
            />
            {% endif %}

            <div class="card-body">
              <h5 class="card-title">{{pr.title}}</h5>
              <small>{{pr.TargetLaunchDate}}</small>
              <p class="card-text">{{pr.description}}</p>
              <a href="{{pr.id}}" class="btn btn-primary btn-sm">View</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      </div>

      </div>
    </div>
  </div>


<style>
.blog-listing {
    padding-top: 30px;
    padding-bottom: 30px;
}
.gray-bg {
    background-color: #f5f5f5;
}
.article {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  padding: 15px;
  margin: 15px 0 30px;
}
.article .article-title .media {
  padding-top: 15px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 20px;
}
.article .article-title .media .avatar {
  max-width: 100%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.article .article-title .media .media-body label {
  font-weight: 600;
  color: #fc5356;
  margin: 0;
}
.article .article-title .media .media-body span {
  display: block;
  font-size: 12px;
}
.article .article-content blockquote {
  max-width: 600px;
  padding: 15px 0 30px 0;
  margin: 0;
}

.article-img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
</style>
{% endblock %}
