{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-5 mx-auto">   
            <div class="card p-3 shadow">
                <h2 class="text-center mb-4">Login</h2>     
                {% include 'partials/_flash_messages.html'%}
                
                <form action="{% url 'login' %}" method="POST"> 
                        {% csrf_token %}
                    <div class="form-group mb-3">
                        <input class="form-control" type="text" name="username" value="{{data.username}}" placeholder="Username"></input>
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-control" type="password" name="password" placeholder="Password"></input>
                    </div>
                    <button type="submit" class="btn btn-primary mb-3">Login</button>
                </form>

                <p>
                    Need an account? <a href="{% url 'register' %}">Register </a>
                </p>
                <p>
                    Forgot password? <a href="{% url 'request-reset-email' %}">Reset your password </a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}