{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1> Set a new Password</h1>
    {% include 'partials/_flash_messages.html'%}
    <form action="{% url 'set-new-password' uidb64 token %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control form-control-sm" 
            type="password" name="password" value="" placeholder="Password">
        </input>
    </div>
    <div class="form-group">
        <input class="form-control form-control-sm" 
            type="password" name="password2" value="" placeholder="Confirm Password">
        </input>
    </div>
        <input type="submit" value="Submit" class="btn btn-sm btn-block">
    </form>
                    </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <form action=""></form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}